.main {
  display: flex;
  flex: 1 1 auto;

  .container{
    &::after, &::before{
      writing-mode: vertical-lr;
      text-align: center;
    }

    &::before{
      content: '(￣y▽￣)╭ Ohohoho.....';

    }
    &::after{
      content: '┌( ಠ_ಠ)┘';
    }
  }
}

.flex {
  display: flex;
  flex: 1 1 auto;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 50%;
  }
}

.container{
  display: flex;
  flex: 1 1 auto;
  padding: 0 5%;
  justify-content: center;
}

@media (max-width: 1025px) {
  .container{
    padding: 0 3%;
  }
}

@media (max-width: 420px) {
  .main {
    .container{
      &::after, &::before{
        display: none;
      }
    }
  }
}