.main {
  display: flex;
  flex: 1 1 auto;

  .container{
    .smile{
      writing-mode: vertical-lr;
      text-align: center;
      background-color: white;
      &.left{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        &::after{
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          left: 50%;
          display: block;
          height: 100%;
          width: 2px;
          background-color: var(--line);
        }

        span{
          background-color: white;
          position: relative;
          z-index: 2;
          display: block;
          height: 300px;
        }
      }

      &.right{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        &::after{
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          left: 50%;
          display: block;
          height: 100%;
          width: 2px;
          background-color: var(--line);
        }

        span{
          background-color: white;
          position: relative;
          z-index: 2;
          display: block;
          height: 300px;
        }
      }
    }
  }
}

.flex {
  display: flex;
  flex: 1 1 auto;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 50%;
  }
}

.container{
  display: flex;
  flex: 1 1 auto;
  padding: 0 5%;
  justify-content: center;
}

@media (max-width: 1025px) {
  .container{
    padding: 0 3%;
  }
}

@media (max-width: 455px) {
  .main {
    .container{
      &::after, &::before{
        display: none;
      }
    }
  }
}