@mixin text700($color, $size: var(--size-text-18px)){
  font: {
    weight: 700;
    size: $size;
  }
  color: $color;
}

@mixin text400($color, $size: var(--size-text-16px)){
  font: {
    weight: 400;
    size: $size;
  }
  color: $color;
}