:root{
  --mega-red: #60417E;
  --background: rgba(255, 255, 255, 0.9);
  --text: #453f47;
  --text-gray: #5E5A60;
  --text-light-gray: #CAC6CC;
  --text-white: #FFFFFF;
  --border: #cdcdcd;
  --shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  --service-red: #DD1414;
  --service-green: #0EBA3E;
  --service-yellow: #FAFF00;
  --service-gray: #5A505E;
}
