:root{
  --main-color: #68CDB5;
  --background: rgba(255, 255, 255, 0.9);
  --text: #453f47;
  --text-gray: #7A757C;
  --text-light-gray: #CAC6CC;
  --text-white: #FFFFFF;
  --border: #cdcdcd;
  --service-red: #DD1414;
  --service-green: #0EBA3E;
  --service-yellow: #FAFF00;
  --service-gray: #5A505E;

  --shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-inset: inset 4px 4px 4px rgba(0, 0, 0, 0.25);

  --size-text-24px: clamp(1.175rem, 1.375rem + 1.6vw, 1.575rem);
  --size-text-22px: clamp(1.05rem, 1.25rem + 1.6vw, 1.45rem);
  --size-text-20px: clamp(.925rem, 1.125rem + 1.6vw, 1.325rem);
  --size-text-18px: clamp(.8rem, 1rem + 1.6vw, 1.2rem);
  --size-text-16px: clamp(.675rem, .875rem + 1.6vw, 1.075rem);
  --size-text-14px: clamp(.55rem, .75rem + 1.6vw, .95rem);
}
