:root{
  --main-color: #68CDB5;
  --background: rgba(255, 255, 255, 0.9);
  --text: #453f47;
  --text-gray: #7A757C;
  --text-light-gray: #CAC6CC;
  --text-white: #FFFFFF;
  --border: #cdcdcd;
  --service-red: #DD1414;
  --service-green: #0EBA3E;
  --service-yellow: #FAFF00;
  --service-gray: #5A505E;

  --shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-inset: inset 4px 4px 4px rgba(0, 0, 0, 0.25);

  --size-text-24px: clamp(1.2rem, 1.4rem + 1.6vw, 1.6rem);
  --size-text-22px: clamp(1.075rem, 1.275rem + 1.6vw, 1.475rem);
  --size-text-20px: clamp(.95rem, 1.15rem + 1.6vw, 1.35rem);
  --size-text-18px: clamp(.825rem, 1.025rem + 1.6vw, 1.225rem);
  --size-text-16px: clamp(.7rem, .9rem + 1.6vw, 1.1rem);
  --size-text-14px: clamp(.575rem, .775rem + 1.6vw, .975rem);
}
