.row__list {

  .row__item {
    .fieldName {
      padding: 4px 16px;
    }

    .fieldText {
      padding: 4px 16px;
    }

  }
}

@media (max-width: 413px) {

  .fieldName, .fieldText {
    word-break: break-word;
  }

}