@import "../../assets/style/mixins";


.wrapper {
  display: flex;
  flex-wrap: wrap;

  &__column {

    &.left {
      display: flex;
      flex-direction: column;
      flex: 1 1 20%;
      gap: 16px;

      .title {
        padding: 16px 0;
        text-transform: uppercase;
      }

      .subtitle {
        padding: 16px;
      }

      .cldr {
        display: flex;
        justify-content: center;
      }

    }

    &.right {
      flex: 1 1 80%;

      .selected__date{
        margin-bottom: 16px;
        @include text400($size: var(--size-text-16px), $color: var(--text-gray));
      }

      .groupTimeTable {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        max-height: 80vh;
        overflow: auto;
      }

    }

    &.admin{
      flex: 1 1 30%;
      padding: 0 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .title{
        padding: 16px 0;
      }

      .subtitle{
        padding: 16px 0;
        @include text700($color: var(--text-gray));
        white-space: nowrap;
      }

      .update{
        form{
          display: flex;
          flex-direction: column;
          gap: 16px;

          .btns{
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: 16px;
          }
        }
      }
      .selected__date{
        padding: 16px 0;
        @include text700($color: var(--text-gray));
        white-space: nowrap;
      }
      .delete{
        display: flex;
        align-self: center;
      }
    }

  }

}
