@import "../../../assets/style/mixins";

.head {
  justify-content: space-between;
  display: flex;
  align-items: center;
  .close{
    cursor: pointer;
  }
}

.flex {
  .column {
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      padding: 0 10%;
      min-height: 70vh;
    }

    .quote {
      padding: 3% 15%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .img {
        box-shadow: var(--shadow);
        background-color: var(--background);

        img {
          width: 100%;
        }
      }

      .quote__text {
        p {
          margin-bottom: 16px;
        }

        small {
          display: block;
          width: 100%;
          text-align: end;
          @include text400($size: var(--size-text-14px), $color: var(--text-gray));
        }
      }
    }

    .block_submit {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .btns {
        display: flex;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap-reverse;
      }

      p {
        text-align: center;
        @include text400($color: var(--text-light-gray));
      }
    }
  }
}

@media (max-width: 791px) {
  .modal__content .flex {
    flex-direction: column;
    gap: 32px;
  }
  .flex .column .quote {
    display: none;
  }
}

@media (max-width: 426px) {
  .flex .column .form{
    padding: 16px 5%;
    min-height: 50vh;
    overflow: hidden;
  }

  .modal__content .flex{
    overflow: auto;
  }

}
