@import "../../../assets/style/mixins";

.head {
  justify-content: space-between;
  display: flex;
  align-items: center;

  .close {
    cursor: pointer;
  }
}

.flex {
  .column {
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      padding: 0 10%;
      min-height: 70vh;

      .select {
        &__menu {
          background-color: white;
          z-index: 5;
        }

        &__option {
          color: var(--text-gray);

          &--is-focused {
            color: black;
            background-color: var(var(--line));
          }

          &--is-selected {
            color: white;
            background-color: var(--main-color);
          }
        }

        &__control {
          border: none;
          border-bottom: 1px solid var(--border);
          border-radius: 0;
          height: 50px;

          &--menu-is-open {
            .select__indicator {
              transform: rotate(180deg);
            }
          }

          &--is-focused {
            border: none;
            box-shadow: var(--shadow);

            .select__single-value {
              color: var(--text-light-gray);
            }
          }

          .select__single-value {
            color: var(--text-gray);
          }

          .select__indicators {
            .select__indicator-separator {
              display: none;
            }

            .select__indicator {
              transition: .2s ease-in-out;
            }
          }
        }

        &__placeholder {
          display: block;
          color: var(--text-light-gray);
        }
      }
    }

    > .quote {
      padding: 3% 15%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .img {
        box-shadow: var(--shadow);
        background-color: var(--background);
        border: 1px solid var(--border);

        img {
          width: 100%;
        }
      }

      .quote__text {
        padding: 0 32px;

        p {
          margin-bottom: 16px;
          @include text400($size: var(--size-text-18px), $color: var(--text-gray));

          &::after {
            content: '“';
            color: var(--main-color);
          }

          &::before {
            content: '”';
            color: var(--main-color);
          }
        }

        small {
          display: block;
          width: 100%;
          text-align: end;
          @include text400($size: var(--size-text-14px), $color: var(--text-gray));
        }
      }
    }

    .block_submit {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;

      .btns {
        display: flex;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap-reverse;
      }

      p {
        width: fit-content;
        cursor: pointer;
        @include text400($size: var(--size-text-16px), $color: var(--text-light-gray));
        transition: all .2s ease-in-out;

        &:hover {
          color: var(--text-gray);
        }
      }
    }
  }
}

@media (max-width: 791px) {
  .modal__content .flex {
    flex-direction: column;
    gap: 32px;
  }
  .flex .column .quote {
    display: none;
  }
}

@media (max-width: 426px) {
  .flex .column .form {
    padding: 16px 5%;
    min-height: 50vh;
    overflow: hidden;
  }

  .modal__content .flex {
    overflow: auto;
  }

}
