.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  backdrop-filter: blur(16px);
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: .1s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    max-width: 60%;
    width: 100%;
    border: 1px solid #CDCDCD;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: var(--background);
  }
}


@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, .0);
  }
  100% {
    background: rgba(0, 0, 0, .7);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, .7);
  }
  100% {
    background: rgba(0, 0, 0, .0);
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}


@media (max-width: 1441px) {
  .modal__content {
    max-width: 70%;
  }
}

@media (max-width: 1135px) {
  .modal__content {
    max-width: 90%;
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 476px) {
  .modal__content {
    padding: 16px;
    height: 97vh;
    max-width: 95%;
  }
}
