.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  backdrop-filter: blur(16px);
  z-index: 5;

  &__content {
    max-width: 60%;
    width: 100%;
    border: 1px solid #CDCDCD;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: var(--background);
  }
}



