.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  backdrop-filter: blur(16px);
  z-index: 5;

  &__content {
    max-width: 60%;
    width: 100%;
    border: 1px solid #CDCDCD;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: var(--background);
  }
}

@media (max-width: 1441px) {
  .modal__content{
    max-width: 70%;
  }
}

@media (max-width: 1135px) {
  .modal__content{
    max-width: 90%;
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 476px) {
  .modal__content {
    padding: 16px;
    height: 97vh;
    max-width: 95%;
  }
}
