@import "../../assets/style/mixins";

.header {
  min-height: 56px;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    width: 100%;
    display: block;
    background-color: var(--main-color);
    height: 8px;
    box-shadow: var(--shadow);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @include text700($size: var(--size-text-16px), $color: var(--text));
    gap: 10px;
  }

  &__nav {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 16px;

    &__item {
      @include text700($size: var(--size-text-16px), $color: var(--text));
      cursor: pointer;
      .icon{
        width: 24px;
        height: 24px;
      }
    }
  }
}
