@import "src/assets/style/mixins";

span{
  position: relative;
  .input {
    width: 100%;
    position: relative;
    border: none;
    border-bottom: 1px solid var(--border);
    padding: 14.5px 8px;
    @include text400($color: var(--text-gray));
    transition: .1s ease-in-out;
    outline: none;

    &:focus {
      box-shadow: var(--shadow);
      @include text400($color: var(--text-gray));
      &+.label{
        top: -15%;
        left: 0;
        @include text400($size: var(--size-text-14px), $color: var(--text-gray));
      }
    }
  }

  .label {
    transition: .2s ease-in;
    position: absolute !important;
    top: 40%;
    left: 10px;
    z-index: 1;
    @include text400($color: var(--text-light-gray));
    cursor: text;
    user-select: none;
    &.active{
      top: -15%;
      left: 0;
      @include text400($size: var(--size-text-14px), $color: var(--text-gray));
    }
  }
}

