@import "src/assets/style/mixins";

.department__list {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  &__text {
    box-shadow: var(--shadow);
    padding: 14px 30px;
    text-align: center;
    background-color: var(--mega-red);
    color: var(--text-white);
  }
}

.department_flex{
  display: flex;
  min-height: 100%;
  align-items: center;
  gap: 16px;
  .department_column{
    flex: 1 1 75%;
    gap: 16px;
    display: flex;
    flex-direction: column;
    &.navList{
      flex: 1 1 20%;
      max-height: 85vh;
      .navigate{
        align-items: flex-start;
      }
    }
    .department_flex{
      flex-wrap: wrap;
      .department_column{
        flex: 1 1 49%;
      }
    }
    .department__info{
      .info__management{
          padding: 16px;
        &__name{
          @include text700($size: 20px, $color: var(--text));
          margin-bottom: 16px;
        }
        &__description{
          @include text400($size: 16px, $color: var(--text-gray));
        }
      }
      .links__management{
        .social {
          background-color: var(--mega-red);
          box-shadow: var(--shadow);
          display: flex;
          align-items: center;
          gap: 8px;
          max-width: 200px;
          width: 100%;

          img {
            width: 32px;
            height: 32px;
            padding: 16px;
            box-sizing: content-box;
            object-fit: fill;
          }

          span {
            @include text400($color: var(--text-white));
          }
        }
      }
      .icon__management{
        display: flex;
        justify-content: center;
        .icon{
          padding: 16px;
          width: 60px;
          height: 60px;
          object-fit: fill;
          box-sizing: content-box;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .department__list{
    display: flex;
  }
  .department_flex{
    .department_column{
      &.navList{
        display: none;
      }
    }
  }
}