@import "../../../assets/style/mixins";
.title {

  @include text700($size: var(--size-text-20px), $color: var(--text));
  gap: 16px;

  &::after {
    content: ' __';
    color: var(--main-color);
    white-space: nowrap;
  }

}
