@import "../../assets/style/mixins";


.clubPage_flex {
  flex-wrap: wrap;
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 3px;
    top: 0;
    right: -10px;
    position: absolute;
    background-color: var(--border);
  }

  &::before {
    position: absolute;
    top: 45%;
    right: -20px;
    writing-mode: vertical-lr;
    background-color: var(--background);
    z-index: 1;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .clubPage_column {
    padding: 14px;

    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 100px;
    }

    .club__list {
      width: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      padding: 20px 0;

      &__text {
        box-shadow: var(--shadow);
        padding: 14px 30px;
        text-align: center;
        background-color: var(--mega-red);
        color: var(--text-white);
      }
    }

    .page__title {
      min-width: 100%;
      box-shadow: var(--shadow);
    }

    .description_club {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .social {
        background-color: var(--mega-red);
        box-shadow: var(--shadow);
        display: flex;
        align-items: center;
        gap: 8px;
        max-width: 200px;
        width: 100%;

        img {
          width: 32px;
          height: 32px;
          padding: 16px;
          box-sizing: content-box;
          object-fit: fill;
        }

        span {
          @include text400($color: var(--text-white));
        }
      }

      .days{
        display: flex;
        align-self: center;
        .day{
          &:first-letter{
            text-transform: uppercase;
          }
          width: 32px;
          height: 32px;
          text-align: center;
          line-height: 32px;
          &.active{
            background-color: var(--mega-red);
            color: var(--text-white);
            box-shadow: var(--shadow);
          }
        }
      }

    }

    .left_col {
      position: relative;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .flex {
        justify-content: space-between;
        align-items: center;
      }

      .clubImg {
        width: 90%;
        flex: 0 1 70%;
        border: 3px solid var(--mega-red);

        img {
          display: block;
          width: 100%;
          object-fit: cover;
          max-height: 512px;
          object-position: top;
        }
      }

      .subtitle__block {
        padding: 8% 0 0 3%;
        position: relative;
        display: flex;
        gap: 16px;

        &::before, &::after {
          content: '';
          display: block;
          background-color: var(--mega-red);
          position: absolute;
          right: 40px;
          bottom: 0;
        }

        &::before {
          width: 1px;
          height: 17px;
        }

        &::after {
          width: 33px;
          height: 1px;
        }

        .subtitle__text {
          @include text400($size: 18px, $color: #595D6C);


          span {
            &::after {
              content: ' __';
            }
          }
        }
      }
    }

    .right_col {
      transform: translateX(10px);
      writing-mode: vertical-lr;
      text-align: center;

      span {
        background: white;
        padding: 10px 0;
        display: inline-block;
        color: var(--text-gray);

        &::before, &::after {
          content: '';
          display: block;
        }

        &::after {
          height: 100%;

        }
      }
    }
  }

}

@media (max-width: 1025px) {
  .clubPage_flex .clubPage_column .fast__nav {
    align-self: center;
    max-width: none;
  }
}

@media (max-width: 891px) {
  .clubPage_flex {
    gap: 20px;

  }
}

@media (max-width: 769px) {
  .clubPage_flex .clubPage_column {
    padding: 0;

    &:first-child {
      gap: 40px;
    }

    .club__list {
      display: flex;
    }

    .left_col {
      display: none;
    }
  }
}

@media (max-width: 581px) {

  .clubPage_flex {

    .clubPage_column {
      .left_col {
        padding: 0 10px;

        .flex {
          justify-content: center;
        }
      }

      .right_col {
        transform: translateX(-10px);
      }
    }
  }
}

@media (max-width: 426px) {

  .header__nav {
    &__item {
      &::after {
        display: none;
      }

      &:last-child {
        display: none;
      }
    }
  }

  .clubPage_flex .clubPage_column .left_col .subtitle__block {
    flex-direction: column;
    gap: 42px;

    &::after, &::before {
      display: none;
    }
  }

}
